@import url("./base.css");

body {
  background-color: aqua;
  /* background: url(~image/demo.png); */
}

.someClass {
  color: red;
  font-size: 24px;
  transition: all 0.3s;
  transform: rotate(45deg);
  display: flex;
}